body {
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;  /* temporary */
    color: yellow;   /* temporary */
}
.card {
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 2em;
}
.info {
    width: 100%;
    max-width: 599px;
    height: 100px;
    background-color: goldenrod;
}
.gameboard {
    width: 100%;
    max-width: 599px;
    height: 500px;
    background-color: dodgerblue;
}
.deck {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
