body {
    margin: 0 auto;
    padding: 10px;
    max-width: 1024px;
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 100%;
}
.info {
    width: 25%;
    max-width: 25%;
    height: 500px;
    background-color: goldenrod;
}
.gameboard {
    width: 75%;
    max-width: 75%;
    height: 500px;
    background-color: dodgerblue;
}
