body {
    margin: 0 auto;
    padding: 10px;
    max-width: 100%;
    text-align: center;
    background-color: #092E20;
}
.header {
    width: 40%;
    align-content: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #092E20;
    color: #092E20;
}
.card {
    margin: 10px;
    width: 100px;
    height: 100px;
    font-size: 2em;
}
.info {
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    max-width: 599px;
    height: 100px;
    background-color: #0B4C36;
    color: white;
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
.info-div {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    padding-top: 5%;
}
.start {
    width: 50%;
}
.moves {
    width: 50%;
}
.stars {
    width: 50%;
}
.timer {
    width: 50%;
}
.gameboard {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 100%;
    max-width: 599px;
    height: 500px;
    background-color: #3BB58C;
}
.deck {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.open {
    color: white;
    /* backface-visibility: visible; */
    /* animation-duration: 3s;
    animation-name: bounce;
    animation-iteration-count: 3; */
}
.closed {
    background-color: #092E20;
}
.animate-right {
    /* animation-delay: 200ms; */
    animation-duration: 200ms;
    animation-iteration-count: 4;
    animation-name: right;
}
@keyframes right {
    from {
        font-size: 1%;
    }
    to {
        font-size: 250%;
    }
}
.animate-wrong {
    animation-delay: 500ms;
    animation-duration: 200ms;
    animation-iteration-count: 2;
    animation-name: wrong;
}
@keyframes wrong {
    from {
        background-color: red;
    }
    to {
        background-color: #092E20;
    }
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
